{% extends 'base.html' %}
{% block content %}
    <h1>{{ topic.title }}</h1>
    <p>{{ topic.content }}</p>
    <p>Author: {{ topic.author }}</p>
    <p>Posted on: {{ topic.created_at|date:"d M Y H:i" }}</p>
    {% if perms.webapp.change_topic or request.author.id == topic.author.id %}
        <td><a href="{% url 'webapp:update_topic' topic.pk %}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
    {% endif %}
{% if perms.webapp.delete_topic or request.author.id == topic.author.id %}
    <td>
        <a href="{% url 'webapp:delete_topic' topic.pk %}" class="btn"><i class="fa-solid fa-trash"></i></a>
    </td>
{% endif %}

    <hr>
    <h2>Comments</h2>
    {% if topic.replies.all %}
        {% for reply in page_obj %}
            <div class="comment">
                <img src="{{ reply.author.profile.avatar.url }}" alt="{{ reply.author.username }}'s avatar"
                     style="width:50px; height:50px; border-radius:50%;">
                <p>{{ reply.content }}</p>
                <p>By: {{ reply.author }}</p>
                <p>Posted on: {{ reply.created_at|date:"d M Y H:i" }}</p>
                {% if request.user == reply.author or request.user.is_staff %}
                    <a href="{% url 'webapp:update_comment' reply.pk %}" class="btn"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                {% endif %}
                {% if request.user == reply.author or request.user.is_staff %}
                    <a href="{% url 'webapp:delete_comment' reply.pk %}" class="btn"><i
                            class="fa-solid fa-trash"></i></a>
                {% endif %}
            </div>
        {% endfor %}
        {% if page_obj.has_other_pages %}
            <div class="pagination">
                {% include "partial/pagination.html" %}
            </div>
        {% endif %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

    <hr>
    <h2>Add a comment</h2>
    <form method="post" action="{% url 'webapp:create_reply' topic.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
