{% extends 'base.html' %}
{% block content %}
    <h1>topic List</h1>
    <a href="{% url 'webapp:create_topic' %}" class="btn btn-primary">Add Task</a>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created at</th>
            <th>Author</th>
            <th>Replies</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topic_list %}
            <tr>
                <td><a href="{% url 'webapp:topic_detail' topic.pk %}">{{ topic.title }}</a></td>
                <td>{{ topic.created_at }}</td>
                <td>{{ topic.author }}</td>
                <td>{{ topic.replies.count }}</td>
            </tr>
        {% endfor %}
{% endblock %}